/*
	Theme: Wes League;
	Author: Michael Chan;
	Date of Creation: Fri, March 7, 2025;
	Colors: Flat UI, Turkish Palette;
*/

/* css for all pages */
	html,body
	{
		font-size: 13px;
		scroll-behavior: smooth;
	}
/* css for all pages ends */

/* css for banner */
	.banner
	{
		min-height: 100vh;
		background-image: url("../images/banner.jpg");
		/*background-image: url("https://i.ibb.co/FkBq3ghB/banner.jpg");*/
		background-size: cover;
	}
/* css for banner ends */

/* css for buttons */
	button
	{
		padding: 4px 8px;
		border: none;
		cursor: pointer;
	}

	.search-button
	{
		color: #1B1464;
		background-color: white;
		border-radius: 3px;
		font-weight: bold;
	}

	.search-button:hover
	{
		background-color: #ced6e0;
		color: #1B1464;
	}
/* css for buttons ends */

/* css for header */
	.header-cover
	{
		position: fixed;
		z-index: 2;
		background-color: rgba(0,0,0,0.6);
		width: 100%;
	}

	header
	{	
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	header .logo
	{
		height: 70px;
	}

	header .logo img
	{
		height: 100%;
	}

	header ul
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	header ul li
	{
		list-style: none;
		margin-right: 50px;
	}

	header ul li a
	{
		text-decoration: none;
		color: white;
		padding: 5px 10px;
		border-radius: 3px;
	}

	header ul li a:hover
	{
		background-color: white;
		color: #1B1464;
	}

	header .sub-search
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.form-responsive
	{
		width: 100%;
		padding: 4px 8px;
		border: none;
		border-radius: 3px;
		margin-right: 12px;
	}

	.checkbtn
	{
		font-size: 30px;
		color: white;
		cursor: pointer;
		display: none;
	}

	#check
	{
		display: none;
	}
/* css for header ends */

/* css for sub header */
	.sub-header
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
	}

	.sub-header-search
	{
		width: 50%;
		margin-bottom: 25px;
	}

	.sub-search
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.form-responsive
	{
		width: 100%;
		padding: 5px 11px;
		border: none;
		border-radius: 3px;
		margin-right: 7px;
	}

	.sub-header-fixtures
	{
		width: 100%;
		background-color: white;
		padding: 10px 10px;
		border-radius: 13px;
	}

	.sub-header-POTW
	{
		width: 100%;
		background-color: white;
		padding: 10px 10px;
		border-radius: 13px;
	}

	.sub-header-news
	{
		width: 100%;
		background-color: white;
		padding: 10px 10px;
		border-radius: 13px;
	}

	.sub-header-title
	{
		width: 130px;
		border-bottom: 3px solid #1B1464;
		text-align: center;
		font-size: 1.2rem;
		font-weight: 200;
		margin: 0 auto 20px;
		position: relative;
		padding: 5px 0;
	}

	.POTW-box
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5px;
	}

	.POTW-image
	{
		width: 150px;
	}

	.POTW-image img
	{
		width: 100%;
		border-radius: 13px;
	}

	.POTW-info
	{
		box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		border-radius: 13px;
		padding: 8px 8px;
	}

	.POTW-info p span
	{
		background-color: #1B1464;
		line-height: 0.5rem;
		padding: 4px 11px;
		font-weight: 600;
		border-radius: 3px;
		color: #fff;
	}
/* css for sub header ends */

/* css for table */
	table
	{
		width: 100%;
		border-collapse: collapse;
	}

	th, td
	{
		border: 1px solid #ddd;
		padding: 8px;
	}

	tr:nth-child(even)
	{
		background-color: #f2f2f2;
	}

	tr:hover
	{
		background-color: #ddd;
	}

	th
	{
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: left;
		background-color: #1B1464;
		color: white;
	}
/* css for table ends */

/* css for news table */
	.news table
	{
		width: 100%;
		border-collapse: collapse;
	}

	.news th,td
	{
		border: 1px solid #ddd;
		padding: 8px;
	}

	.news tr:nth-child(even)
	{
		background-color: #fff;
	}

	.news tr:hover
	{
		background-color: #fff;
	}

	.news td img
	{
		width: 100%;
		border-radius: 13px;
	}

	.news td a
	{
		text-decoration: none;
	}
/* css for news table ends */

/* css for gallery */
	.gallery
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center-left;
		flex-direction: row;
		gap: 10px;
	}

	.gallery img
	{
		flex: 1 1 calc(25% - 10px); /* 25% for 4 images */
		max-width: calc(25% - 10px);
		height: auto;
		border-radius: 13px;
	}
/* css for gallery ends */

/* css for footer */
	.footer-cover
	{
		background-color: #1B1464;
		padding: 30px 0;
	}

	footer p
	{
		color: white;
	}

	.footer-media
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 200px;
	}

	.footer-media .social-media a
	{
		text-decoration: none;
		color: white;
	}

	.footer-media .contact
	{
		color: white;
	}

	.footer-title
	{
		color: white;
		font-size: 1.5rem;
		font-weight: 600;
		padding: 5px 0;
	}

	.footer-title-social
	{
		color: white;
		font-size: 1.5rem;
		font-weight: 600;
		padding: 5px 0;
	}

	.stakeholder-links
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 10px;
		justify-content: center-left;
	}

	.stakeholder-links a img
	{
		width: 100px;
		height: 135px;
		border-radius: 13px;
	}

	.go-up
	{
		position: fixed;
		right: 0;
		top: 90%;
		margin-right: 30px;
		width: 3%;
		height: 50px;
	}

	.sosha-media
	{
		width: 20%;
		height: 45px;
	}

	.sosha-media-con
	{
		width: 15%;
		height: 40px;
	}
/* css for footer ends */

/* css for fixtures */
	.fixtures
	{
		background-color: white;
		border-radius: 13px;
		padding: 20px 20px;
	}

	.section-title
	{
		width: 80px;
		border-bottom: 3px solid #1B1464;
		text-align: center;
		font-size: 1.2rem;
		font-weight: 200;
		margin: 0 auto 20px;
		position: relative;
		padding: 5px 0;
	}
/* css for fixtures ends */

/* css for results */
	.results
	{
		background-color: white;
		border-radius: 13px;
		padding: 20px 20px;
	}
/* css for results ends */

/* css for standings */
	.standings
	{
		background-color: white;
		border-radius: 13px;
		padding: 20px 20px;
	}
/* css for standings ends */

/* css for stats */
	.stats
	{
		background-color: white;
		border-radius: 13px;
		padding: 20px 20px;
	}
/* css for stats ends */

/* css for about */
	.about
	{
		margin: 2% 8%;
		background-color: white;
		border-radius: 13px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.about-container
	{
		padding: 20px 20px;
	}

	.about-container img
	{
		float: left;
		max-width: 20%;
		border-radius: 13px;
		margin-right: 10px;
	}
/* css for about ends */

/* css for search */
	.search-area
	{
		background-color: white;
		border-radius: 13px;
		padding: 20px 20px;
	}

	.section-title-long
	{
		width: 200px;
		border-bottom: 3px solid #1B1464;
		text-align: center;
		font-size: 1.2rem;
		font-weight: 200;
		margin: 0 auto 20px;
		position: relative;
		padding: 5px 0;
	}

	.search-box
	{
		width: 50%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5px;
	}

	.search-image
	{
		width: 250px;
	}

	.search-image img
	{
		width: 100%;
		border-radius: 13px;
	}

	.search-info
	{
		box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		border-radius: 13px;
		padding: 8px 8px;
	}

	.search-info p span
	{
		background-color: #1B1464;
		line-height: 0.5rem;
		padding: 4px 11px;
		font-weight: 600;
		border-radius: 3px;
		color: #fff;
	}
/* css for search ends */

/* css for news */
	.full-news
	{
		margin: 2% 8%;
		background-color: white;
		border-radius: 13px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.full-news-container
	{
		padding: 20px 20px;
	}

	.full-news-container img
	{
		float: left;
		max-width: 20%;
		border-radius: 13px;
		margin-right: 10px;
	}

	.full-news-header
	{
		font-weight: bold;
		font-size: 16px;
	}
/* css for news ends */

/* css for page responsiveness */
	@media screen and (max-width:768px)
	{
		/* 768 homepage */
			.checkbtn
			{
				display: block;
				order: 1;
				font-size: 30px;
				color: white;
				cursor: pointer;
				margin-right: 10px;
			}

			ul
			{
				position: fixed;
				top: 100px;
				right: -100%;
				background-color: rgba(0, 0, 0, 0.6);
				width: 30%;
				height: 60vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			ul li
			{
				margin: 15px 0;
			}

			ul li a
			{
				font-size: 13px;
			}

			#check:checked ~ ul
			{
				right: 0;
			}
		
			.sub-header-search
			{
				width: 100%;
			}
		/* 768 homepage end */

		.sub-header
		{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 10px;
		}

		.banner
		{
			min-height: 135vh;
			background-image: url("../images/banner.jpg");
			background-size: cover;
		}

		.gallery img
		{
			flex: 1 1 calc(33.33% - 10px); /* 25% for 4 images */
			max-width: calc(33.33% - 10px);
			height: auto;
			border-radius: 13px;
		}

		.search-box
		{
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 5px;
		}

		.footer-media
		{
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 30px;
		}

		/* 768 footer */
			.go-up
			{
				width: 6%;
			}
		/* 768 footer ends */
	}

	@media screen and (max-width:425px)
	{
		/* 425 homepage */
			.checkbtn
			{
				margin-right: 5px;
				margin-left: 12px;
				font-size: 25px;
			}
		
			ul
			{
				width: 50%;
			}

			header .logo
			{
				height: 60px;
			}

			.form-responsive
			{
				padding: 2px 4px;
				margin-right: 4px;
				margin-left: 10px;
			}

			button
			{
				padding: 2px 4px;
				margin-left: 15px;
			}
		/* 425 homepage end */
		.sub-header
		{
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 10px;
		}

		.banner
		{
			min-height: 180vh;
			background-image: url("../images/banner.jpg");
			background-size: cover;
		}

		.gallery img
		{
			flex: 1 1 calc(50% - 10px); /* 25% for 4 images */
			max-width: calc(50% - 10px);
			height: auto;
			border-radius: 13px;
		}

		.footer-media
		{
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 30px;
		}

		.stakeholder-links
		{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 10px;
			justify-content: center-left;
		}

		.stakeholder-links a img
		{
			width: 80px;
			height: 115px;
			border-radius: 13px;
		}

		table
		{
			font-size: 80%;
		}

		.about
		{
			margin: 2% 3%;
		}

		.about-container img
		{
			max-width: 30%;
		}

		.full-news-container img
		{
			max-width: 30%;
		}

		.search-image
		{
			width: 200px;
		}

		.search-box
		{
			width: 100%;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 10px;
		}

		/* 425 footer */
			.go-up
			{
				width: 12%;
			}

			.sosha-media
			{
				width: 10%;
			}

			.sosha-media-con
			{
				width: 10%;
			}
		/* 425 footer ends */
	}

	@media screen and (max-width:320px)
	{
		.banner
		{
			min-height: 170vh;
			background-image: url("../images/banner.jpg");
			background-size: cover;
		}

		.gallery
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			flex-direction: row;
			gap: 10px;
		}

		.gallery img
		{
			flex: 1 1 calc(100% - 10px); /* 25% for 4 images */
			max-width: calc(100% - 10px);
			height: auto;
			border-radius: 13px;
		}

		.footer-media
		{
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 30px;
		}

		table
		{
			font-size: 70%;
		}

		.about-container img
		{
			max-width: 40%;
		}

		.full-news-container img
		{
			max-width: 40%;
		}

		.search-image
		{
			width: 255px;
		}

		.search-box
		{
			width: 100%;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 10px;
		}

		/* 320 footer */
			.go-up
			{
				width: 17%;
			}
		/* 320 footer ends */
	}
/* css for page responsiveness ends */
